# S3 Configuration
S3_SERVICE_URL=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=
S3_REGION=

# JWT Configuration
JWT_SECRET_KEY=

# Python configuration
PYTHON_EXE=/usr/bin/python3
SCRIPTS_DIR=/app/Scripts

# SQL SERVER Configuration
DB_PASSWORD=
